.discover-manifests {
  .filter-manifests {
    margin: 10px 0;
  }

  .discover-content-list {
    height: 400px;
    overflow: scroll;
  }

  .highlight {
    background-color: yellow;
    a {
      color: red;
    }
  }

  .content-providers-list {
    text-align: left;
  }

  li.manifest-list-item {
    margin-bottom: 10px;
  }

  .discover-loading-indicator {
    margin: 20px auto;
    text-align: center;
    font-size: 120%;
  }

  .collection-loading-error {
    text-align: center;
    color: $iiifRed;
  }

  .content-provider-item {
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    min-height: 50px;
    cursor: pointer;
    transition: box-shadow .2s;

    &:hover {
      border: 1px solid #ccc;
      box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }

    .content-provider-logo {
      max-width: 400px;
      max-height: 45px;
      margin-right: 10px;
    }
  }
}
