.edit-manifest-container {
  position: relative;

  .menu-toggle-sidebar {
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.65);
    left: 10px;
    position: absolute;
    top: 80px;
  }

  .btn-show-sidebar {
    border-radius: 0;
    display: none;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    width: 33px;

    i {
      padding-top: 15px;
    }

    &.visible {
      display: inline;
    }
  }
}
