.edit-manifest-container {
  position: relative;

  .viewer-thumbnail-strip-narrow-view {
    float: left;
    width: 70%;
  }

  .viewer-thumbnail-strip-wide-view {
    float: left;
    width: 97%;
  }
}