.edit-manifest-container {
  position: relative;

  .menu-toggle-sidebar {
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.65);
    left: 12px;
    padding: 6px 9px 6px 10px;
    position: absolute;
    top: 80px;
  }
}