.home-container {
  text-align: center;
  background-color: #444;
  padding:40px;
  border:1px solid #ddd;
  border-radius:5px;
  height:100vh;

  .well {
    position: relative;
    background-color: #000;
    color: #eee;
    padding:40px;

    h2 {
      font-size: 2rem;
      font-weight:normal;
      letter-spacing: 2px;
      color: $iiifRed;
    }

    #bodleian-logo {
      position:absolute; 
      bottom: 10px; 
      left: 20px;

      img {
        width: 200px;
      }
    }

    #textandbytes-logo {
      position:absolute; 
      bottom: 10px; 
      right: 20px;

      img {
        width: 180px;
      }
    }

  }

  .btn {
    margin: 10px auto;
    width: 150px;
    background-color:$iiifBlue;
    color:white;
  }
}
