.home-container {
  text-align: center;
  background-color: #444;
  padding:40px;
  border:1px solid #ddd;
  border-radius:5px;
  height:100vh;

  .well {
    background-color: #222;
    color: #eee;
    padding:40px;

    h2 {
      font-size: 2rem;
      font-weight:normal;
      letter-spacing: 2px;
      color: #ed1d33;
    }
  }

  .btn {
    margin: 10px auto;
    width: 150px;
    background-color:#2873ab;
    color:white;
  }
}
