.import-canvases-container {
  position: relative;

  .sequence-browser-narrow-view {
    float: left;
    width: 70%;
  }

  .sequence-browser-wide-view {
    float: left;
    width: 97%;
  }

  .sequence-browser {
    position: relative;
    border: 2px solid $gray-light;
    height: 75vh;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .sequence-viewer {
      display: inline-block;
      vertical-align: middle;
      border-left: 1px solid $gray-light;
      border-right: 2px solid $gray-light;
      width: 30%;
      height: 100%;
    }

    .open-sequence-button {
      position: absolute;
      min-width: 120px;
      height: 140px;
      top: 30%;
      margin-left: 20px;
    }
  }

  .sequence-thumbnail-strip {
    border: 2px solid $gray-light;
    height: 25vh;
    display: flex;
    overflow-x: scroll;
  }
}