.import-canvases-container {
  position: relative;

  .sequence-browser-narrow-view {
    float: left;
    width: 70%;
  }

  .sequence-browser-wide-view {
    float: left;
    width: 97%;
  }

  .sequence-browser {
    position: relative;
    border: $mainComponentContainerBorder;
    height: 75vh;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .sequence-viewer {
      display: inline-block;
      vertical-align: middle;
      border-left: 1px solid $gray-light;
      border-right: $mainComponentContainerBorder;
      width: 30%;
      height: 100%;
      overflow-y: scroll;

      .sequence-viewer-info-icon-button {
        position: relative;
        float: left;
        margin: 2px 0 0 2px;
      }

      .remove-sequence-button {
        position: relative;
        float: right;
        margin: 2px 2px 0 0;
      }

      .sequence-browser-canvas-thumbnail {
        text-align: center;
        margin: 10px 0;

        img.selected-canvas {
          opacity: 0.5;      
        }
      }

      .sequence-browser-canvas-thumbnail:first-child {
        margin-top: 20px;
      }
    }

    .open-sequence-button {
      position: absolute;
      min-width: 120px;
      height: 140px;
      top: 30%;
      margin-left: 20px;
    }

    .remote-manifest-url-load-error {
      margin-top:20px;
    }

    .fetch-remote-manifest-indicator {
      margin-top:20px;
      text-align: center;
    }

    .fetch-remote-manifest-indicator i {
      font-size: 2rem;
    }

  }

  .sequence-thumbnail-strip {
    border: 2px solid $gray-light;
    height: 25vh;
    display: flex;
    overflow-x: scroll;
  }
}