.manifest-metadata-dialog {

  .metadata-field-row {
    margin-bottom: 15px;

    .metadata-field-label {
      font-weight: bold;
      word-wrap: break-word;
    }

    .metadata-field-value {
      white-space: normal; 
      word-wrap: break-word;
    }  

    .source-attribution-logo {
      max-width: 100%;
    }
  }
}