.metadata-sidebar-container {
  border: 2px solid $gray-light;
  display: none;
  height: 100vh;

  .metadata-sidebar-controls {
    padding: 15px 0;

    .hide-sidebar {
      cursor: pointer;
      width: 33px;
    }

    .metadata-sidebar-buttons {
      float: right;
      text-align: right;

      .metadata-sidebar-button {
        margin-left: 10px;
      }
    }
  }

  #metadata-accordion {
    .metadata-sidebar-panel {
      height: 65vh;

      .row {
        margin-bottom: 15px;
      }

      .metadata-field-label {
        font-weight: bold;
      }

      .image-annotation-fetch-error {
        margin-top: 15px;
      }

      .metadata-field-value textarea {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
      }
    }
  }

  .metadata-sidebar-canvas {
    text-align: center;

    .canvas-label {
      display: block;
      text-align: center;
    }
  }
}

.metadata-sidebar-container.visible {
  display: block;
}
