.metadata-sidebar-container {
  border: 2px solid $gray-light;
  display: none;
  height: 100vh;
  padding-right: 10px;
  overflow-y: auto;
  overflow-x: hidden;

  .metadata-sidebar-controls {
    padding: 15px 0;
    text-align: right;

    .hide-sidebar {
      cursor: pointer;
      float: left;
      width: 33px;
    }

    .metadata-sidebar-buttons {
      text-align: right;

      .metadata-sidebar-button {
        margin-left: 10px;
      }
    }
  }

  #metadata-accordion {
    .metadata-sidebar-panel {
      height: 65vh;
      overflow-x: hidden;
      overflow-y: scroll;

      .row {
        margin-bottom: 15px;
      }

      dl {
        clear: both;
        margin-bottom: 15px;
        overflow: auto;
        position: relative;

        dt {
          display: block;
          float: left;
          min-width: 8em;
        }

        dd.metadata-field-value {
          display: block;
          float: left;
          min-height: 25px;
          padding-right: 30px;
          width: 65%;
        }

        dd.metadata-field-delete {
          position: absolute;
          right: 4px;
          top: 0;
          width: 22px;

          a {
            color: #333333;

            &:hover {
              color: #d9534f;
            }
          }
        }
      }

      .metadata-field-label {
        font-weight: bold;
      }

      .image-annotation-fetch-error {
        margin-top: 15px;
      }

      .metadata-field-value {
        overflow-wrap: break-word;
        word-break: break-word;
        word-wrap: break-word;

        textarea {
          padding-left: 0;
          padding-right: 0;
          width: 100%;
        }
      }
    }
  }

  .metadata-sidebar-canvas {
    text-align: center;

    .canvas-label {
      display: block;
      text-align: center;
    }
  }
}

.metadata-sidebar-container.visible {
  display: block;
}

@media (max-width: 991px) {
  #metadata-accordion {
    .metadata-sidebar-panel {
      dl {
        dt {
          min-width: 0;
        }

        dt, dd {
          float: none;
        }

        dd.metadata-field-value {
          width: 80% !important;
        }
      }
    }
  }
}
