
.on-screen-help {
	h3 {
		margin-top: 10px;
		margin-bottom: 20px;
	}

	h4 {
		margin-top: 20px;
	}

	li {
		margin-bottom: 5px;
	}

	img.iiif-icon {
		margin-top: -4px;
	}

	.viewer-style-icon {
		background-color: black;
		color: white;
		font-size: 1.2em;
		padding:4px;
		border-radius: 5px;
	}
}