
.on-screen-help {
	padding: 30px;
	text-align: justify;
	
	p, h2, h3, h4 {
		line-height: 150%;
	}

	h3, h4, h5 {
		margin: 25px 0 10px 0;
	}

	li {
		margin-bottom: 5px;
	}

	img.iiif-icon {
		margin-top: -4px;
	}

	.viewer-style-icon {
		background-color: black;
		color: white;
		font-size: 1.2em;
		padding:4px;
		border-radius: 5px;
	}
}