.open-manifest-container {
  text-align: center;

  .discover-manifests {
    margin: 20px;
  }

  .discover-manifests-dialog-open-button {
    color: white;
    background-color: black;
  }

  .open-manifest-form-container {
    margin-top: 50px;
    border: 1px solid $gray-light;
    border-radius: 5px;

    .open-manifest-cancel-button {
      margin-right: 7px;
    }

    .open-manifest-form-header {
      font-size: 1.6rem;
      padding: 7px 0;
      border-bottom: 1px solid $gray-light;

      .link-to-manual {
        margin: -4px 4px 0 0;
      }
    }
  }
}

.open-manifest-button-container {
    margin: 20px auto;
}

.drop-manifest-container {
  color: $gray;
  margin: 20px;
  height: 100px;
  border: 1px solid $gray-light;
  background-color: $gray-lighter;
  border-radius: 5px;
  padding: 30px 0;
  text-align: center;

  .drag-and-drop-message {
    font-size: 1.5em;
    letter-spacing: 1px;
  }
}

.drop-manifest-container-drag {
  border-color: $iiifBlue;
  background-color: white;
}