.thumbnail-strip-container {
  border: 2px solid $gray-light;
  height: 25vh;
  display: flex;
  overflow-x: scroll;

  .thumbnail-strip-canvas {
    height:158px;

    img {
      margin: 2px 10px;
    }
    .thumbnail-strip-canvas-label {
      display: block;
      text-align: center;
    }
  }
}
