
.thumbnail-strip-container {
  border: 2px solid $gray-light;
  height: 25vh;
  display: flex;
  overflow-x: scroll;

  .add-new-canvas-button {
    border-radius: 5px;
    position: relative;
    min-width: 120px;
    height: 140px;
    top: 6%;
    margin-left: 15px;
    color: rgba(31, 31, 66, 0.85);
  }

  /* Custom right-click menu */
  .custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #ccc;
    white-space: nowrap;
    background: #fff;
    color: #333;
    border-radius: 5px;
    padding:0;

    li {
      padding:6px 10px;
      cursor: pointer;
      list-style-type: none;
    }

    li:hover {
      background-color: #333;
      color:#eee;
    }
  }

  .thumbnail-strip-canvas {
    &.active {
      border: 2px solid red;
      border-radius: 5px;
    }

    img {
      margin: 2px 10px;
    }

    .canvas-label {
      display: block;
      text-align: center;
    }
  }
  [draggable] {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: element;
  }

  .sortable-items {
    display: flex;
    flex-shrink: 0;
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }

  .sortable-item {
    float: left;
    text-align: center;
    background-color: #fff;
    cursor: move;
    .pointer-events-none {
      pointer-events: none;
    }
  }

  .sortable-item-over {
    border: 1px dashed #DDD;
  }
}
