.viewer-container {
  position: relative;
  border: 2px solid $gray-light;
  height: 75vh;
  margin-left: -15px;
  margin-right: -15px;

  .viewer-loading-indicator {
    opacity:0.8;
    padding:30px;
    background-color: #222;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 1;
    text-align: center;
    i {
      font-size: 5rem;
      color: white;
    }

    .viewer-loading-text {
      margin-top:10px;
      font-size: 1.5rem;
      color: #ddd;
    }
  }

  #map {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  .viewer-canvas-label {
    position: absolute;
    bottom: 0;
    padding: 4px 15px;
    height: auto;
    text-align: center;
    font-size: 1.75rem;
    color: #ddd;
    background-color: #222;
    opacity: 0.9;
    border-radius: 5px;

    textarea {
      color: black;
      margin: 0 auto;
      margin-top: 5px;
      width: 100%;
      height: 20px;
    }
  }
}
