.viewer-container {
  position: relative;
  border: 2px solid $gray-light;
  height: 75vh;
  margin-left: -15px;
  margin-right: -15px;

  #map {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  .viewer-canvas-label {
    position: absolute;
    bottom: 0;
    padding: 4px 15px;
    height: auto;
    text-align: center;
    font-size: 1.75rem;
    color: #ddd;
    background-color: #222;
    opacity: 0.9;
    border-radius: 5px;

    textarea {
      color: black;
      margin: 0 auto;
      margin-top: 5px;
      width: 100%;
      height: 20px;
    }
  }
}
