.osd-custom-toolbar {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 1;

  i {
    font-size: 1.4em;
    color: white;
    background:rgba(0,0,0,.7);
    cursor: pointer;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
  }

  i:hover {
    color: black;
    background:rgba(255,255,255,.9);
  }
}


.osd {
  position: relative;
  background-color: black;
  padding: 0;
}
  
.osd-toolbar {
  display: none;
}

.openseadragon-container, .openseadragon {
  height: 75vh;
  width: 100%;
}


.viewer-container {
  position: relative;
  border: $mainComponentContainerBorder;
  width: 100%;
  height: 75vh;

  .viewer-info-icon-button {
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.65);
    left: 10px;
    padding: 6px 9px 6px 10px;
    position: absolute;
    top: 50px;
  }

  .viewer-loading-indicator {
    opacity:0.6;
    padding:15px;
    background-color: #222;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 1;
    text-align: center;
    i {
      font-size: 3rem;
      color: white;
    }

    .viewer-loading-text {
      margin-top:10px;
      font-size: 1.5rem;
      color: #ddd;
    }
  }

  .navigation-arrow {
    position: absolute;
    z-index: 2;
    opacity: 0.7;
    color:white;
    background: transparent;
    font-size:300%;
    top:40%;
  }
  .navigation-arrow-left {
    left:10px;
  }
  .navigation-arrow-right {
    right:30px;
  }

  .navigation-arrow:hover {
    opacity:0.9;
    cursor: pointer;
  }

  #map {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  .viewer-canvas-label {
    position: absolute;
    bottom: 0;
    padding: 4px 15px;
    height: auto;
    text-align: center;
    font-size: 1.75rem;
    color: #ddd;
    background-color: #222;
    opacity: 0.9;
    border-radius: 5px;

    textarea {
      color: black;
      margin: 0 auto;
      margin-top: 5px;
      width: 100%;
      height: 20px;
    }
  }
}
